@model IEnumerable<AdvancedProject.Models.LeaseApplication>

@{
    ViewData["Title"] = "Lease Applications";
}

<h1>Lease Applications</h1>

<a asp-controller="Properties" asp-action="Index">Create New</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenant.User.FullName)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Unit.UnitNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration.Months)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ApplicationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApplicationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApplicationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
