@model AdvancedProject.Models.Tenant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tenant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Username</dt>
        <dd class="col-sm-10">@Model.User.Username</dd>


        <dt class="col-sm-2">Full Name</dt>
        <dd class="col-sm-10">@Model.User.FullName</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.User.Email</dd>

        <dt class="col-sm-2">Phone</dt>
        <dd class="col-sm-10">@Model.User.Phone</dd>

        <dt class="col-sm-2">Role</dt>
        <dd class="col-sm-10">@Model.User.Role</dd>

     

        <dt class="col-sm-2">Dob</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Dob)</dd>

        <dt class="col-sm-2">National Id</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.NationalId)</dd>

        <dt class="col-sm-2">User Id</dt>
        <dd class="col-sm-10">@Model.UserId</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.TenantId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>