@model IEnumerable<AdvancedProject.Models.MaintenanceRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedStaff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tenant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedStaff.StaffId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skill.SkillId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenant.TenantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit.UnitId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RequestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RequestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
