@model AdvancedProject.Models.Unit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Unit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeSqFt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeSqFt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amenities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amenities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailabilityStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailabilityStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Property)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Property.PropertyId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UnitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
